label {
  font-weight: bold;
  width: 100%;
  margin: 0.5rem 0;
  flex: 1;
}

input,
textarea,
input:focus {
  width: 100%;
  margin: 0.5rem 0;
  background-color: var(--white);
  border: solid 2px var(--gray);
}

input:focus,
textarea:focus {
  outline: none;
}

.testDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
