.navbar {
  background-color: var(--blue);
  /* padding: 0rem 3rem; */
  text-transform: uppercase;
  position: fixed;
  top: 0px;
  height: var(--navbarHeight);
  box-shadow: var(--shadow);
  width: 100%;
  z-index: var(--topLayer);
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 3rem;
  height: 100%;
  margin: 0;
  max-width: 100%;
}

ul li {
  display: flex;
  width: 20%;
  text-align: center;
  font-weight: bold;
}

li a {
  width: 100%;
}

.currentPageLink {
  background-color: var(--white);
  color: var(--gray);
  font-weight: bold;
  border: 8px solid var(--white);
  border-radius: 25px;
  width: 100%;
  box-shadow: var(--buttonShadow);
}
