.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray);
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: var(--footerHeight);
  box-shadow: var(--reversedShadow);
}

.footer p {
  color: var(--white);
  margin: 0;
  padding: 0;
}
