/* czcionki */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap");
/* font-family: 'PT Sans Caption', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
/* font-family: 'Alfa Slab One', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
/* font-family: 'Caveat', cursive; */

:root {
  --blue: #007ee6;
  --white: #ececec;
  --gray: rgb(60, 60, 60);

  --corners: 5px;
  --shadow: 0 4px 5px 1px rgb(160, 160, 160);
  --reversedShadow: 0 -4px 5px 1px rgb(160, 160, 160);
  --titleShadow: 0 15px 10px -15px rgb(60, 60, 60);
  --buttonShadow: 0 3px 5px 0px rgb(60, 60, 60);
  /* paski */
  --navbarHeight: 60px;
  --footerHeight: 25px;
  /* z-index for navbar / footer */
  --topLayer: 100;
}

* {
  font-family: "PT Sans Caption", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  padding-top: var(--navbarHeight);
  padding-bottom: var(--footerHeight);

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

p {
  color: var(--gray);
}

a {
  color: var(--white);
  text-decoration: none;
}

section {
  padding: 0.5rem 0;
}

.container {
  margin: 0;
  padding: 0 2rem;
}

h2 {
  align-self: flex-start;
  border-bottom: 5px solid var(--gray);
  position: relative;
  padding: 0.5rem 2rem;
  color: var(--gray);
  box-shadow: var(--titleShadow);
}

.infoTilesBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.svg {
  filter: brightness(0);
}
